.fade-in {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.progress {
    height: 15px;
    border-radius: 15px;
}

.progress-bar {
    border-radius: 15px;
    background-color: var(--accent-color-1);
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    transform: translateY(0px);
}

.btn-primary {
    transition: background-color 0.3s ease;
}


.submit-answer {
    min-width: 100px;
}


.card-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    padding-top: 5px;
}

.form-check {
    margin-bottom: 10px;
}

.question-content {
    display: flex;
    align-items: flex-start;
}

.speak-button {
    flex-shrink: 0;
    margin-top: 3px;
}

.card-text {
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 5px;
}

.assignment-card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

.assignment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.badge {
    padding: 0;
    margin-bottom: 5px;
    color: #121212;
    font-weight: 400;
}

.badge-danger {
    color: #dc3545;
    background-color: white;
}

.badge-warning {
    background-color: #ffc107;
    color: #212529;
}

.badge-success {
    background-color: #28a745;
}