/* 新增的横幅样式 */
.dashboard-banner {
    background: linear-gradient(to right, #99E7C5, #F4CB9B); 
    padding: 40px 0; /* 上下各40px的内边距 */
    margin-bottom: 30px; /* 与下面内容的间距 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 轻微的阴影效果 */
    /* background-image: url('/static/images/chinese-banner.jpg'); /* 请确保图片路径正确 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff; /* 确保文字在背景图片上清晰可见 */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* 为文字添加阴影以增加可读性 */
    width: 100%;
    height: 400px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/static/images/image.png');
    background-position: bottom center;
}

.dashboard-banner-content {
    background-color: rgba(255, 255, 255, 0.2); /* 半透明白色背景 */
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px); /* 背景模糊效果 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.dashboard-banner-content h1 {
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

.dashboard-banner-content p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}


/* 原有的样式 */
.feature-label {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.card {
    border-radius: 15px;
    transition: transform 0.3s;
}

.card:hover {
    transform: translate(0,-3px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.btn-primary {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
}

.btn-primary:hover {
    background-color: rgba(255, 255, 255, 0.2);
}