{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="dashboard-banner">
    <div class="container">
        <h1>Welcome back, {{ user.username }}!</h1>
        <p>Let's start your Chinese learning journey today.</p>
    </div>
</div>
{% endblock %}

{% block content %}


<div class="container mt-4">
    <div class="row">
        {% for feature in features %}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card h-100" style="background-color: {{ feature.color }};">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="feature-label mr-2" style="color: {{ feature.color }};">{{ feature.label }}</div>
                            <h5 class="card-title mb-0">{{ feature.title }}</h5>
                        </div>
                        <p class="card-text">{{ feature.description }}</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a href="{{ feature.link }}" class="btn btn-primary btn-block">进入</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}