.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    padding-top: 10vh;
}

.login-card {
    background-color: white;
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    max-width: 400px;
    padding-top: 80px; /* Make room for the character */
    position: relative;
}

.login-card h2 {
    color: #FE4D01;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #151515;
}

.form-control {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: var(--border-radius);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #FE4D01;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 77, 1, 0.25);
}

.btn-primary {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #FE4D01;
    border: none;
    transition: background-color 0.15s ease-in-out;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #FFD966;
    color: #151515;
}

.text-danger {
    color: #dc3545;
    text-align: center;
}

.logo {
    position: absolute;
    top: -75px;  /* 将logo向上移动50px，使其略高于容器 */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    box-shadow: var(--box-shadow);
    border-radius: 50%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
